doctype html
html
    include ./header.jade
    body
        h2 学习Jade模板引擎
        span.abc span content
        div
        //
            这个是钓竿
        p content
        // 这个是单行注释
        ul
            li item1
            li item2
            li item3
        input(type='checkbox', checked)
        input(
            type='checkbox'
            name='argreement'
            checked
        )
        ul
            - for (var x = 0; x < 3; x++)
                li item
        p
            | 这是一行管道文本，行数无限制
            | 这是一行管道文本，行数无限制
            | 这是一行管道文本，行数无限制
            | ……
        include ./footer.jade